
    
.popup-container {
    width: 500px;
    max-height: 600px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 2px rgba(59, 59, 59, 0.27450);
    background-color: #fff;
    display: flex;
    flex-direction: column;

    &>.header {
        border-bottom: 1px solid #e6e6e6;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 10px;

        &.no-border-bottom {
            border: 0;
        }
        
        h2 {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
        }

        .sub-desc {
            font-size: 13px;
        }
    }

    &>.container {
        flex: 1;
        padding: 0 20px 30px 20px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start; 
        gap: 25px;

        background-color: #fff;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none; /* cho Chrome, Safari, and Opera */
        }

        .address-item {
            width: 100%;
            border-bottom: 1px solid #ccc;
            padding: 20px 0px;
            display: flex;
            gap: 10px;  

            &:nth-last-child(2) {
                border-bottom: 1px solid transparent;
            }

            .left {
                color: #ccc;
            }

            .center {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .center_head {
                    display: flex;
                    align-items: center;
                    .center_head__name {
                        font-size: 18px;
                        font-weight: 500;
                    }
                    .center_head__phone {
                        margin-left: 10px;
                        font-size: 18px;
                        font-weight: 400;
                        position: relative;

                        &::before {
                            content: '';
                            width: 1px;
                            height: 80%;
                            position: absolute;
                            top: 50%;
                            left: -5px;
                            transform: translateY(-50%); 
                            background-color: #8e8e8e;
                        }
                    }
                }

                .center_content {
                    .center_content__desc,
                    .center_content__address {
                        font-size: 15px;
                        font-weight: 400;
                    }

                    .center_content__desc {
                        font-size: 13px;
                        font-weight: 300;
                    }
                }
            }

            .right {
                p {
                    font-size: 12px;
                    font-weight: 500;
                    color: blue;
                }
            }
        }

        .btn-add-address {
            margin-top: 10px;
            padding: 5px 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #fff;
            display: flex;
            align-items: center;
            gap: 10px;

            &:hover {
                cursor: pointer;
            }
        }

        .input-cluster {
            width: 100%;
            display: flex;
            align-items: flex-start;
    
            &:first-child {
                margin-top: 10px;
            }
    
            &.row {
                flex-direction: row;
                gap: 20px;
            }
            &.column {
                flex-direction: column;
            }
    
            .input-area {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;
                position: relative;

                

                &.error {

                    .input {
                        border: 2px solid red;
                    }

                    .label-input {
                        color: red;
                    }
                }
    
                .label-input {
                    padding: 0px 5px;
                    position: absolute;
                    top: 0;
                    left: 6px;
                    transform: translateY(-60%);
                    font-size: 12px;
                    background-color: #fff;
                    color: #7e7e7e;
                }
    
                .input,
                .textarea {
                    flex: 1;
                    border: 1.5px solid #ccc;
                    border-radius: 3px;
                    padding: 13px 11px;
                    outline: none;
                    resize: none;
                    font-family: 'montserrat';
                } 

                .err-status {
                    font-size: 11.5px;
                    color: red;
                    font-weight: 500;
                    top: -17px;
                }

                &.special-address {
                    .dropdown-address-result-search {
                        height: 300px;
                        border: 1px solid #ccc;
                        background-color: #fff;
                        box-shadow: 0px 3px 15px 3px #ccc;
                        position: absolute;
                        inset: 120% 0 0 0;
                        overflow-y: scroll;
                        z-index: 1000;
    
                        ul {
                            margin: 0;
                            padding: 0;
    
                            li {
                                padding: 8px 20px;
    
                                &:hover {
                                    background-color: #eeeeee;
                                    cursor: pointer;
                                }
    
                                &.selected {
                                    color: red;
                                }
    
                                .text-blur {
                                    color: #ccc;
                                }
                            }
                        }
                    }
    
                    .dropdown-address-select {
                        height: 300px;
                        border: 1px solid #ccc;
                        background-color: #fff;
                        box-shadow: 0px 3px 15px 3px #ccc;
                        position: absolute;
                        inset: 120% 0 0 0;
                        display: flex;
                        flex-direction: column; 
                        z-index: 1000; 
    
                        .nav-bar { 
                                position: relative;
                                margin: 0;
                                padding: 0;
                                display: flex;
                                flex-direction: row;
                                list-style-type: none;
                                
                                li {
                                    padding: 12px 0;
                                    flex: 1;
                                    text-align: center;
                                    cursor: not-allowed;
                                    border-bottom: 1px solid #ccc;
                                    
                                    
                                    &.allow {
                                        cursor: pointer;
                                    }
    
                                    &.active {
                                        border-bottom: 2px solid red;
                                        color: red;
                                        cursor: pointer;
                                    }
                                }
                        } 
                        
                        .dropdown-container {
                            flex: 1;
                            overflow-y: scroll;
    
                            ul {
                                margin: 0;
                                padding: 0;
    
                                li {
                                    padding: 8px 20px;
    
                                    &:hover {
                                        background-color: #eeeeee;
                                        cursor: pointer;
                                    }
    
                                    &.selected {
                                        color: red;
                                    }
                                }
                            }
                        }
                    }
                }
                
                .area-special {
                    width: 100%;
                    border: 1.5px solid #ccc;
                    border-radius: 3px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &.error {
                        border: 2px solid red;

                        .label-input {
                            color: red;
                        }
                    }
    
                    .input {
                        border: 0;
                        flex: 1; 
                    }
    
                    .icon-area {
                        margin-right: 8px;
                        display: flex;
                        align-items: center;
                        gap: 3px;
    
                        span {
                            font-size: 20px;
                            color: #ccc;
                            &:hover {
                                cursor: default;
                            }
                            
                            &.small {
                                font-size: 17px;
                            }
    
                            &.allow-click {
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        } 
    
                    } 
                }
            }
        }
    
        .google-map-area {
            width: 100%;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
    
        .type-address {
            display: flex;
            flex-direction: column;
            gap: 8px;
    
            .type-address_title {
                margin: 0;
            }
    
            .type-address_button-bar {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;
        
                button {
                    padding: 8px 12px;
                    border-radius: 5px;
                    border: solid 1px #ccc;
                    background-color: #fff;
        
                    &.active {
                        border-color: red;
                        color: red;
                    }
        
                    &:hover {
                        cursor: pointer;
                    }
                } 
            }
        }
    
        .checkbox-area {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: default;
    
            p {
                margin: 0;
                color: #ccc;
            }
        }
    }

    &>.button-bar {
        border-top: 1px solid #e8e8e8;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;

        .btn-exit,
        .btn-save {
            border-radius: 5px; 
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.padding-40 {
                padding: 7px 40px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .btn-exit {
            border: 1px solid #ccc;
            padding: 6px 20px;
            background-color: #fff;
            color: #585858;
            font-size: 18px;
        }

        .btn-save {
            border: 0px solid transparent;
            padding: 7px 20px;
            background-color: #ee4d2d;
            color: #fff;
            font-size: 18px;
        }
    }
} 