

.container-side-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background-color: var(--container-bg-color-1);
}

.trademark {
    width: 100%;
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .trademark-frame {
        width: 75px;
        overflow: hidden;

        img {
            width: 100%;
            display: block;
        }
    }

    h1 {
        font-size: 40px;
        color: var(--app-txt-color-trademark);;
    }
}

.navigate {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 15px;

    .nav-item {
        width: 100%;
        border-radius: 50px;
        padding: 13px 20px;
        background-color: var(--btn-bg-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }

        &.active {
            background-color: var(--btn-active-bg-color);

            .icon-frame > ion-icon, 
            .title {
                color: var(--app-txt-color-1);
            }
        }

        .icon-frame {

            ion-icon {
                font-size: 24px;
                color: var(--app-txt-color-2);
            }
        }

        .title {
            font-size: 22px;
            color: var(--app-txt-color-2);
        }
    }
}