
.popup-container {
    width: 500px;
    min-height: 325px;
    max-height: 600px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 2px rgba(59, 59, 59, 0.27450);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .loading-popup-container {
        width: 100%;
        min-height: 325px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &>.header {
        border-bottom: 1px solid #e6e6e6;
        padding: 25px 20px 20px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        &.no-border-bottom {
            border: 0;
        }

        .icon {
            font-size: 25px;
            cursor: pointer;
            user-select: none;

            &.not-allow {
                color: #ccc;
                cursor: not-allowed;
            }
        }
        
        h2 {
            flex: 1;
            margin-left: -12.5px;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
        }

        .sub-desc {
            font-size: 13px;
        }
    }

    &>.container {
        flex: 1;
        padding: 0 20px 30px 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; 

        background-color: #fff;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none; /* cho Chrome, Safari, and Opera */
        }

        .verification {
            width: 100%;
            margin: 30px 0;
            display: flex;
            align-items: baseline;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px 30px;

            .input-cluster {
                width: 45px;
                height: 45px;
                border-radius: 4px;
                border: 1.5px solid #ccc;
                overflow: hidden;

                &.active {
                    border: 2px solid blue;
                }

                input {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    text-align: center;
                    font-size: 26px;
                }
            }

            .error-status {
                width: 100%;
                color: red;
                font-style: italic;
            }
        }

        p {
            font-family: "Helvetica Neue", Helvetica, Arial; // Font chống co giản chữ số 1 so với 8 ...
            text-align: center;

            span {
                cursor: pointer;
            }
        }
    }

    &>.button-bar {
        border-top: 1px solid #e8e8e8;
        padding: 20px 20px 25px 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;

        &.no-boder-top {
            border-top: 0px;
        }

        &.btn-center {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn-exit,
        .btn-save {
            border-radius: 5px; 
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;

            &.padding-40 { padding: 8px 40px; }

            &:hover { cursor: pointer; }

            &.with-100 { width: 100%; }
            &.with-50 { width: 50%; }

            &.no-press {
                background-color: #ccc;
                cursor: not-allowed;
            }
        }

        .btn-exit {
            border: 1px solid #ccc;
            padding: 6px 20px;
            background-color: #fff;
            color: #585858;
            font-size: 18px;
        }

        .btn-save {
            border: 0px solid transparent;
            padding: 10px 20px;
            background-color: #ee4d2d;
            background-color: blue;
            color: #fff;
            font-size: 18px;
        }

        
    }
}