

.cart-product {
    width: 270px;
    height: 386px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;

    &:hover {
        // transform: scale(1.03);
        background-color: #f8f8f8;
    }
    
    .can-click {
        flex: 1;
        padding: 0 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        .cart-product_name {
            margin-top: 18px;
            font-weight: 600;
            font-size: 16px;
            color: #202020;
        }
        
        .cart-product_picture-frame {
            width: 100% !important;
            height: 190px !important;
            margin-top: 18px;
            display: flex;
            justify-content: center;

            // for custom skeleton
            // &.skeleton {
            //     $baseColor: #ebebeb;
            //     $highlightColor: #f5f5f5;
            //     $animationDuration: 1.5s;
            //     $animationDirection: normal;
            //     $pseudoElementDisplay: block;
            //     background-color: $baseColor;
            //     width: 100%;
            //     border-radius: 0.25rem;
            //     display: inline-flex;
            //     line-height: 1;
            //     position: relative;
            //     -webkit-user-select: none;
            //     user-select: none;
            //     overflow: hidden;
            //     z-index: 1;

            //     &::after {
            //         content: ' ';
            //         display: $pseudoElementDisplay;
            //         position: absolute;
            //         top: 0;
            //         left: 0;
            //         right: 0;
            //         height: 100%;
            //         background-repeat: no-repeat;
            //         background-image: linear-gradient( 90deg, $baseColor, $highlightColor, $baseColor );
            //         transform: translateX(-100%);
            //         animation-name: reactloadingskeleton;
            //         animation-direction: $animationDirection;
            //         animation-duration: $animationDuration;
            //         animation-timing-function: ease-in-out;
            //         animation-iteration-count: infinite;
            //     } 

            //     @keyframes reactloadingskeleton {
            //         0% {
            //             transform: translateX(-100%);
            //         }
            //         100% {
            //             transform: translateX(100%);
            //         }
            //     }
            // }
    
            img {
                display: block;
                height: 100%;
                object-fit: contain;
            }
        }
    
        .cart-product_desc {
            flex: 1;
            margin-top: 18px;
            font-size: 11.5px;
            font-weight: 400;
            color: #626262;
            text-align: justify;
        
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            -webkit-line-clamp: 3;
        }
    
        .cart-product_price-bar {
            margin-top: 7px;
            width: 188px;
            color: #333;
            display: flex;
            justify-content: space-between;

            .price-no-discount,
            .price-discounted {
                font-size: 13px;
                font-weight: 400;
            }
        
            .price-no-discount {
                color: var(--sub-color-word);
                text-decoration: line-through;
            }
        
            .price-discounted {
                font-weight: 600;
                color: #ef4444;
            }
            
        } 
    }
    
    .button-bar {
        margin: 3px 18px 18px 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .buy-btn {
            width: 188px;
            height: 34px;
            border-radius: 5px;    
            background-color: var(--primary-color-button);
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.1s;
        
            &:hover {
                opacity: 0.9;
            }
        }

        .add-cart-btn {
            flex: 1;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: right;
            transition: all 0.1s; 
            
            span {
                color: #ccc;
                font-size: 30px;
                cursor: pointer;
                transition: all 0.2s;
        
                &:hover {
                    color: #1d4ed8;
                }
            }
        }
    }
} 

