

.App {
    &.dark {

        // app
        --app-bg-color: #15161a;

        --app-txt-color-1: #e7e6eb;
        --app-txt-color-2: #9e9bb0;

        // container
        --container-bg-color-1: #1e1f24;
        --container-bg-color-2: #1e1f24;

        --container-shadow-color: #111215;


        // button
        --btn-bg-color: #323337;

        --btn-active-bg-color: #18191d;
        
    }
}
