
:root {
    // app
    --app-bg-color: #fff;

    --app-txt-color-trademark: #0058dc;

    --app-txt-color-1: #000;
    --app-txt-color-2: #636363;

    // container
    --container-bg-color-1: #fff;
    --container-bg-color-2: #fff;

    --container-shadow-color: #111215;

    // button
    --btn-bg-color: #ccc;

    --btn-active-bg-color: #ccc;
}